@keyframes slideUp {
    from {
        margin-top: 200px;
        /* Adjust the initial margin-top value as needed */
        opacity: 0;
    }

    to {
        margin-top: 100px;
        opacity: 1;
    }
}

.icon {
    transition: color 0.3s;
    /* 색상 변화에 트랜지션 효과 추가 */
}

.icon:hover {
    transform: scale(1.1);
    color: red;
}