@keyframes slideUp {
    from {
        margin-top: 200px;
        /* Adjust the initial margin-top value as needed */
        opacity: 0;
    }

    to {
        margin-top: 100px;
        opacity: 1;
    }
}
