.footer {
    width: 100%;
    margin-top: auto;
    height: 100px;
    background-color: #150026;
}

.contents {
    display: flex;
    width: 96%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}