.layout {
    padding-top: 50px;
}

.main {
    // padding-top: 50px;
    display: flex;
    position: relative;
    min-height: calc(100vh - 50px);
    z-index: 0;
    background-color: #150026;
    display: flex;
    flex-direction: column;
    justify-content: center;
}